<div>
  <div class="row" style="background-color: cadetblue;">
      <div class="col-sm-2">
          <img src="../assets/Images/HCLSicon.png" style="margin-left: 25px; margin-top: 20px;" />
      </div>
      <div class="col-sm-10">
          <h1 style="color: #fff; margin-top: 20px;
          font-weight: bold;margin-left: 100px;
          text-shadow: 2px 2px 4px #000000;
          padding-top: 5px;">Medical Store Management System</h1>
      </div>
  </div>
  <div class="row">
      <app-navbar></app-navbar>
  </div>
  <div>
      <router-outlet></router-outlet>
  </div>
  <div>
      <div class="row" style="background-color: cadetblue;">
          <div class="col-sm-8"></div>
          <div class="col-sm-4">
              <img src="../assets/Images/fb_Logo.png" style="height: 40px; margin-left: 200px;" />
              <img src="../assets/Images/insta_Logo.png" style="height: 58px; margin-left: 15px;" />
              <img src="../assets/Images/x_Logo.png" style="height: 40px; margin-left: 15px;" />
              <img src="../assets/Images/whatsapp_Logo.png" style="height: 40px; margin-left: 15px;" />
          </div>
      </div>
  </div>
</div>